@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #e1ffc5;
    --laranja: #f8e784;
    --azul-degrade: linear-gradient(97.54deg, #06385e 35.49%, #0b77a8 165.37%);
    --fonte-principal: "Poppins";
    --azul: #39dfeb;
    --fonte-secundario: "Josefin Sans";
    --preto: #222020;
    --cinza: #595e58;
    --cinza-claro: #414142ec;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}